// Site Fonts
$paragraph : "DINNEXTW05";
$valorant: "Valorant";
$tungsten: "Tungsten";
$header3: "DINNEXTW1G";
$nav: 'FFMarkW05';

// Site Colors
$red: #ff4656;
$darkblue: #0e1922;
$offwhite: #ece8e2;
$grey: #292929;
$greydark: #111111;
$sprayButton :#669da2;
$spraybg: #68789a;


